Adobe Reader DC 2100120150 MUI/Source/AcroRdrDCUpd2100120155_MUI.msp
OpenJDK16.0.1/Source/openjdk-16.0.1_windows-x64_bin.zip
Adobe Reader DC MUI 2100120155/Source/AcroRdrDCUpd2100120155_MUI.msp
Adobe Reader DC 2100120150 DE/Source/AcroRdrDCUpd2100120150.msp
*.intunewin
*/intuneWin/*
*.exe
*.msi
*.msp
*.mst

